@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	body {
		@apply font-sans text-gray-800;
	}

	button, input, textarea, select {
		@apply focus:outline-none transition-shadow shadow-none focus:shadow-[0_0_0.3rem_0.15rem_#4490b4];
	}

	.basic-wrapper {
		@apply min-h-screen flex flex-col;
	}

	.btn-focus-primary {
		@apply focus:shadow-none focus:outline focus:outline-2 focus:outline-primary-500 focus:outline-offset-2;
	}

	.text-shadow-black {
		text-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
	}

	.text-shadow-white {
		text-shadow: 0 0 0.25rem rgba(255,255,255,0.2);
	}

	.text-shadow-black {
		text-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
	}

	.hover-margin {
		@apply transition-all mt-0 hover:-mt-1 mb-0 hover:mb-1;
	}

	.focus-shadow {
		@apply focus:shadow-[0_0_0.25rem_rgba(0,0,0,0.3)];
	}

	.focus-solid {
		@apply focus:outline-none transition-shadow shadow-none focus:shadow-[0_0_0rem_0.1rem_#4490b4];
	}

	.focus-solid-danger {
		@apply focus:outline-none transition-shadow shadow-none focus:shadow-[0_0_0rem_0.1rem_#ad4747];
	}

	.fixed, .xs\:fixed, .sm\:fixed, .md\:fixed, .lg\:fixed, .xl\:fixed {
		-webkit-backface-visibility: hidden;
	}

	.form-input-group, .form-textarea-group {
		@apply relative;
	}

	.form-input-group > input {
		@apply block w-full h-10 pr-6 text-sm rounded-lg transition-colors bg-gray-200 focus:bg-white;
	}

	.form-input-group > label {
		@apply absolute top-0 left-0 h-10 px-6 text-sm rounded-lg bg-primary-500 font-semibold inline-flex items-center;
	}

	.form-textarea-group > textarea {
		@apply block w-full px-6 pt-14 pb-6 text-sm rounded-lg transition-colors bg-gray-200 focus:bg-white;
	}

	.form-textarea-group > label {
		@apply absolute top-0 left-0 h-10 w-full px-6 text-sm rounded-lg bg-primary-500 font-semibold inline-flex items-center;
	}

	.input-group label {
		@apply block mb-2;
	}

	.input-group input,
	.input-group textarea {
		@apply block w-full px-4 py-2 text-sm focus:shadow-none rounded transition-colors bg-gray-100 border;
	}

	.input-group.invalid {
		@apply border-danger-500;
	}

	.input-group > label {
		@apply block text-sm text-black/80;
	}

	.dropdown button {
		@apply focus:shadow-none;
	}

	.dropdown-toggler {
		@apply bg-white px-4 py-2 min-w-[10rem] text-sm rounded border transition-colors text-gray-600 border-gray-300;
	}

	.dropdown-collapse {
		@apply bg-white py-2 rounded shadow;
	}

	.dropdown-item {
		@apply py-2 pl-8 pr-16 text-sm font-medium text-gray-600 bg-white hover:bg-gray-100;
	}

	.dropdown-item.active {
		@apply bg-gray-100;
	}

}